<header class="header">
  <h1 class="header__title">Members Only</h1>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="/">Home</a></li>
      <li class="header__nav-item"><a href="/about">Profile</a></li>
    </ul>
  </nav>
</header>
