<header class="header">
  <h1 class="header__title">Members Only</h1>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="/">Home</a></li>
      <li class="header__nav-item"><a href="/about">Profile</a></li>
      <li class="header__nav-item"><a href="/sign-up">Sign Up</a></li>
      <li class="header__nav-item"><a href="/sign-in">Sign In</a></li>
    </ul>
  </nav>
  <a href="/join-club"
    ><button class="header__join-button">Join Club</button></a
  >
</header>
