<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <section class="sign-up-container">
      <h2>Please sign up for Members Only</h2>
      <%- include('error') %>
      <form action="/sign-up" method="post" class="sign-up-form">
        <label for="first_name">First Name:</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          placeholder="eg. John"
        />
        <label for="last_name">Last Name:</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          placeholder="eg. Smith"
        />
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="eg. john.smith@example.com"
        />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <label for="confirm-password">Confirm Password: </label
        ><input type="password" id="confirm-password" name="confirm-password" />
        <label for="is_admin">Admin:</label>
        <input type="checkbox" id="is_admin" name="is_admin" />
        <button type="submit">Sign Up</button>
      </form>
    </section>
    <%- include('footer') %>
  </body>
</html>
